main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fab53d8f;
}
#image-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60%;
  background-color: #fff;
  border-radius: 15px;
}

.secondContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#imgContactEnvelope {
  width: 80%;
  border-radius: 80px;
  box-shadow: 20px 20px 20px #7f2f5c53;
}
#image-container {
  height: 50%;
  width: 100%;
}

#form {
  height: 70%;
}

#formMessage {
  height: 60px;
}

.insideForm {
  width: 80%;
  height: 30px;
  margin-top: 12px;
  padding: 10px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 10px;
  outline: none;
}

#submitBtn {
  width: 30%;
  height: 10%;
  margin: 5px 0;
}
#submitBtn:active {
  color: #ffffff;
  background-color: #fab43d;
}
.insideForm:focus {
  color: #ffffff;
  background-color: #fab43d;
}
.formTitle::selection {
  color: #ffffff;
  background-color: #fab43d;
}
#alertNameId {
  color: #ff0000;
}

@media (min-width: 720px) {
  #image-form-container {
    flex-direction: row;
  }
  #image-container {
    width: 50%;
  }
  .secondContainer {
    width: 50%;
  }

  #form {
    height: 90%;
  }

  #formMessage {
    height: 120px;
  }

  #submitBtn {
    width: 40%;
    height: 35px;
    margin: 20px 0;
  }
}
